/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";// how many menu-items do you wish to display? //
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import "vendors/hint";


/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
// maximum: 10 //

$items: 6;
$black:#282828;

html, body{
    height:100px;
}

body {
    background-color:rgba(0,0,0,0.6);
    background-image: url("http://www.socwall.com/images/wallpapers/37014-1920x1200.jpg");
    bacground-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#menu > a img {
    width: 60%;
    margin: 50px auto;
    display: block;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);


* {
  Box-sizing: Border-box;
}

html, body {
  overflow: hidden;
}

#menu {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
  list-style: none;
  font-size: 180%;
}

.menu-button {
  opacity: 0;
  z-index: -1;
}

.menu-button {
  width: 200px;
  height: 200px;
  h1{
    line-height: 150px;
    color:#8cc;
    margin:0px;
    font-size:20px;
    font-family: 'Alegreya Sans', cursive;
    text-align:center;
  }
  position: absolute;
  left: 35%;
  top: 50%;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  text-decoration: none;
}

#menu > a:first-of-type{
  opacity: 1;
  z-index: 1;
}

.menu-item {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  background: $black;
  z-index: -2;
}

.menu-item a {
  color: #fff;
  position: relative;
  top: 35%;
  left: 35%;
  text-decoration: none;
}

.menu-item:hover {
  box-shadow: 0 0 0 7px #fff;
  z-index:1;
}

.menu-item:active {
  background: #9dd;
}

$radius: 250px;

$angle: 360deg / $items;

@for $i from 1 through $items {
  
  $alpha: ($i * $angle);
  $x: sin(($angle * $i) - $angle - 90) * $radius;
  $y: cos(($angle * $i) - $angle - 90) * $radius;
  
  
  #menu > .menu-item:nth-child(#{$i + 2}) {
    transform: translate($y, $x);
  }
}

.hint:after, [data-hint]:after {
    content: attr(data-hint);
    background: transparent;
    color: #fff;
    text-shadow: 0 -1px 0 transparent;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px transparent;
    font-family: "Alegreya Sans";
}
.hint--top:after, .hint--bottom:after {
    padding: 10px 0px;
}